@import "./variables.css";

body {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.account-actions {
    justify-content: end;
}

.account-links {
    color: #fff;
    text-decoration: underline;
}

.account-links:hover {
    color: var(--red-color);
}

.breadcrumb-active,
.font-red {
    color: var(--red-color);
}

.bg-green {
    background: var(--green-color) !important;
}

.bg-orange {
    background: var(--orange-color);
}

/* Used to centralize elements, specially when the screen is bigger than the 1440px breakpoint. */
.centralized {
    width: 75%;
    margin: 0 auto;
}

.filters-container {
    padding-left: 0 !important;
}

footer div {
    height: 200px;
    background: var(--red-color);
}

.filters p {
    font-size: larger;
    font-weight: 600;
}

.filters li {
    font-size: small;
}

.filters-link,
.filters-link:hover {
    color: var(--gray-color);
}

.filters ul {
    padding-left: inherit;
}

.font-gray {
    color: var(--gray-color);
}

.font-green {
    color: var(--green-color); 
}

.max-screen-item {
    display: block;
}

.min-screen-item {
    display: none;
    color: #000;
    font-size: 2rem;
}

.nav-link {
    color: #fff;
    margin-right: .5rem;
}

.nav-link:hover {
    background: var(--red-light-color);
    color: #fff;
}

.products-container,
.filters-container {
    padding-right: 0 !important;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
}

.search {
    display: block;
}

.search button,
.nav a {
    font-weight: 700;
}

.search-logo-menu {
    display: flex;
    justify-content: space-between;
}

.sort-by {
    display: inline !important;
    width: 180px !important;
}

.sort-options a:visited {
    color: #000;
}

.sort-options .active {
    color: var(--green-color);
}

.square {
    width: 44px;
    height: 25px;
    margin-right: 5px;
}

/* Every product is a unique .card */
.card {
    border: none !important;
    text-align: center;
    margin-bottom: 1rem;
    margin-right: .5rem;
    width: 140px;
    height: 330px;
}

.card-bottom {
    margin-top: auto;
}

.card-bottom button {
    width: 100%;
}

.card .card-text {
    font-size: 1.3rem;
    font-weight: 700;
}

.card button {
    color: #fff;
    font-weight: 700;
}

.card button:hover {
    color: #fff;
    background: var(--green-light-color) !important;
}

.card-img-top {
    border: 1px solid rgba(0,0,0,.125);
    padding: 5px;
    width: 135px;
    height: 135px;
}

.card .card-title,
.card .card-special {
    color: var(--gray-color);
}

@media screen and (max-width: 1439px) {
    .color-filters a {
        margin-top: 5px;
    }

    .centralized {
        width: 95%;
    }

    .nav-link {
        margin-right: 3.5rem;
    }
}

@media screen and (max-width: 1023px) {
    .nav-link {
        margin-right: 1rem;
    }
}

@media screen and (max-width: 767px) {
    .nav a,
    .search,
    .sort-options {
        display: none;
    }

    .search-logo-menu {
        align-items: center;
        justify-content: space-evenly;
    }

    .min-screen-item {
        display: block;
    }

    .max-screen-item {
        display: none;
    }

    section > div {
        flex-direction: column;
    }

    .filters-container,
    .products-container {
        max-width: 100% !important;
        margin-bottom: 10px;
        padding: 0 !important;
    }

    .order-options span {
        font-size: small;
    }

    .sort-by {
        width: 138px !important;
    }

    .centralized {
        width: 90%;
    }

    .products-list {
        margin-top: 1rem;
    }

    .card {
        margin-right: .2rem;
        height: 305px;
    }
}

@media screen and (max-width: 320px) {
    .account-actions {
        justify-content: center;
    }

    .card {
        width: 130px;
        margin-right: .1rem;
        height: 265px;
    }

    .card button {
        display: none;
    }
}